name: CI - build, test nodejs application

on:
  push:
    paths-ignore:
      - README.md
      - deployment.yaml

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

     
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::178502900821:role/devops-mri-github-role
          aws-region: ap-south-1

      - name: login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/devops-mri:${{ github.sha }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: '${{ steps.login-ecr.outputs.registry }}/devops-mri:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL'

      - name: Update the value file with tag
        run: |
          rm -rf .cache
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          sed -i "s|tag: .*|tag: ${{ github.sha }}|" helm/devops-mri/values.yaml
          
          git add helm/devops-mri/values.yaml
          git commit -m "updated tag in values.yaml file" || echo "No changes to commit"
          git push origin main


